@import url(data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdDb21pbmcgU29vbic7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA0MDA7CiAgc3JjOiBsb2NhbCgnQ29taW5nIFNvb24nKSwgbG9jYWwoJ0NvbWluZ1Nvb24nKSwgdXJsKGh0dHBzOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9jb21pbmdzb29uL3Y2L215Ymx5T3ljTW5QTUdqZlBHLUR6UDUwRUFWeHQwRzBiaUVudHA0M1F0NkUudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K);
@import url(https://fonts.googleapis.com/css?family=Quicksand|Chewy|Handlee|Cookie|Tangerine|Bad+Script);
body{
	width: 100%;
	height: auto;
	background: #EEEEEE;
}
 .menu{
	height: 1500px;
	overflow: auto;
	float: left;
	padding: 0;
	margin: 0;
	margin-top: -1.9%;
	background: #172937;
}
 .nosotros{
	font-size: 12px;
	color: black;
 }
 .espacioArriba{
	margin-top: 10%;
 }
 .publicacion{
	width: 100%;
	height: auto;
	overflow: auto;
	margin-top: 1%;
}
.Top{
	margin-top: 2%;
}
.login{
	float: right;
	margin-top: 2%; /*Ajustar al final*/
	margin-right: 2%;
}
.Justificado{
	text-align: justify;
}
.fondoBlanco{
	background: white;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3)
}
.Espaciado{
	margin-right: 5%;
	margin-left: 5%;
}
.EspaciadoSuperior{
	margin-top: 5%;
}
.EspaciadoInferior{
	margin-bottom: 10%;
}
.LetraEspecial{
	font-size: 1.2em;
}
.LetraObscura{
	font-weight: bold;
}
ul li ul li{
	list-style: none;
	margin-left: 10%;
}
.margenLI{
	margin-left: 3%;
	margin-right: 3%;
}
.Derecha{
	margin-right: 3%;
}
.centrado{
	text-align: center;}
.letra{
	font-family: 'Coming Soon', cursive;
}
.Handlee{
	font-family: 'Handlee', cursive;
}
.encabezado{
	font-family: 'Coming Soon', cursive;
	font-size: 2em;
}
.footer{
	color: white;
	font-size: 1.3em;
}
.sidebar-collapse{
	background: #172937;
	height: auto;
	width: 100%;
}
.caption{
	text-align: justify;
}
.descripcion{
	text-transform: uppercase; 
	font-weight: bolder;
}
.fondo{
	background: url("/public/inm_azul/img/2.jpg");
}
.login-box-body,
.register-box-body {
	background: rgba(19, 35, 47, 0.9);
	color:white;
	padding: 10%;
	margin: 20%;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);  /* sombra negra al rededor del form */
}
.login-logo,
.register-logo {
	font-size: 35px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}
.form-control {         /*cuadros para escribir en log/reg/recu*/
    border-radius: 2%;
    box-shadow: none;
    width: 100%;
    background: white;
}
.MarginAbajo{
  	margin-bottom: 0%;
}
.MarginArriba{
 	margin-top: 10%;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  	color: #777;
}
.login-logo a, .register-logo a {
    color: green;
    font-weight: 900;
    font-family: 'Handlee', cursive;
}
.button:hover, .button:focus {
    background: #179b77;
}
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.menu ul li a {
    display: block;
    padding: 10px 10px 10px 10px;
    color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1%;
}
.menu ul li a:hover {
	background: #26435a;
	padding: 3%;
	color: white;
	height: 100%;
	width: auto;
	border-left: 10px solid #0f1b24;
}
.menu ul li a:link {
	text-decoration: none;
}
.estiloAlternativo{
	text-transform: uppercase;
	color: green;
}
a{
	color: white;
	font-weight: bold;
    font-family: 'Handlee', cursive;
}
a:link {
    text-decoration: none;
}
a:hover{
	color: green;
	letter-spacing: 0.1em;
}
.button {
    border: 0;
    outline: none;
    border-radius: 5%;
    padding: 10px;
    margin-right: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.botones{
    background: #1abc9c;
    color: #ffffff;
}
.botones:hover, .botones:focus {
    background: #1ab188;
    letter-spacing: .2em;
}
.botonRojo{
	background: #E91E63;
	color: white;
	letter-spacing: .1em;
	border-radius: 10%;
	margin-top: 10%;
	border: aliceblue;
	float: right;
}
.botonRojo:hover{
	background: #D81B60;
	color: white;
	letter-spacing: .2em;
}
.slide-image {
    width: 100%;
}
.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}
.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.visitas, .pull-right{
	color: red;
	font-weight: bolder;
}
.CabeceraColor{
	background: #1abc9c;
	border-color: black;
	color: white;
}
.sangria {
  text-indent: 1.5em;
}
.jumbotron{
	background: white;
	margin-bottom: 0;
}
