{% extends 'usuario.twig' %}

	{% block body %}
	
				<div class="Compras container col-md-9">
				<h3>Compras</h3>
					<div class="cabeza">
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
						 <div class="vendedor">
						 	<p>Vendedor</p>

						 </div>

						 <div class="articulo">
						 	 <p>Articulo</p>
						  </div>

						 <div class="informacion">
						 	<p>Caracteristicas</p>

						 </div>

						 <div>
						<select class="selectpicker" data-style="btn-primary">
  						<option value="Reciente">Recientes</option>
						  <option value="Antigua">Antigua</option>
						  
                     </select>
						  
					
						</div>   

					
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					</div>
				<div class="cuerpoC">
					
					<div class="rowC  col-md-12">

						<div class="cvendedor col-md-3">
							<p class="nombreV" type="text" style="color:#000000">Jose Nieto</p>
							<p class="correo" type="email" style="color:#999999 ">altatendenciaoritu@gmail.com</p>
							<p class="telefono" style="color:#999999 ">0414 5686482</p>
						</div>
						<div class="carticulo col-md-5"> 
							<div class="media">
								  <a class="media-left media-middle" href="#">
								    <img class="media-object" src="/public/inm_azul/img/casa2.jpg">
								        
								  </a>
							  <div class="media-body">
							    <h4 class="media-heading">Media heading </h4>
							    <p class="caracteristicas" type="email" style="color:#999999 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

							  </div>
							</div>

						</div>
						<div class="cinformacion col-md-3">
							<label>Tipo</label><p class="Pj">casa</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Direcion</strong><p  class="Pj">esquina carrera 13 Barrio el liceo</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Ciudad</strong> <p class="Pj">Guanarito</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">estado</strong> <p class="Pj">Portuguesa</p> <br>
						</div>
					</div>

					<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					<div class="cuerpoC">
					
					<div class="rowC  col-md-12">

						<div class="cvendedor col-md-3">
							<p class="nombreV" type="text" style="color:#000000">Jose Nieto</p>
							<p class="correo" type="email" style="color:#999999 ">altatendenciaoritu@gmail.com</p>
							<p class="telefono" style="color:#999999 ">0414 5686482</p>
						</div>
						<div class="carticulo col-md-5"> 
							<div class="media">
								  <a class="media-left media-middle" href="#">
								    <img class="media-object" src="/public/inm_azul/img/casa2.jpg">
								        
								  </a>
							  <div class="media-body">
							    <h4 class="media-heading">Media heading </h4>
							    <p class="caracteristicas" type="email" style="color:#999999 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

							  </div>
							</div>

						</div>
						<div class="cinformacion col-md-3">
							<label>Tipo</label><p class="Pj">casa</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Direcion</strong><p  class="Pj">esquina carrera 13 Barrio el liceo</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Ciudad</strong> <p class="Pj">Guanarito</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">estado</strong> <p class="Pj">Portuguesa</p> <br>
						</div>
					</div>

					<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					
					<div class="rowC  col-md-12">

						<div class="cvendedor col-md-3">
							<p class="nombreV" type="text" style="color:#000000">Jose Nieto</p>
							<p class="correo" type="email" style="color:#999999 ">altatendenciaoritu@gmail.com</p>
							<p class="telefono" style="color:#999999 ">0414 5686482</p>
						</div>
						<div class="carticulo col-md-5"> 
							<div class="media">
								  <a class="media-left media-middle" href="#">
								    <img class="media-object" src="/public/inm_azul/img/casa2.jpg">
								        
								  </a>
							  <div class="media-body">
							    <h4 class="media-heading">Media heading </h4>
							    <p class="caracteristicas" type="email" style="color:#999999 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

							  </div>
							</div>

						</div>
						<div class="cinformacion col-md-3">
							<label>Tipo</label><p class="Pj">casa</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Direcion</strong><p  class="Pj">esquina carrera 13 Barrio el liceo</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Ciudad</strong> <p class="Pj">Guanarito</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">estado</strong> <p class="Pj">Portuguesa</p> <br>
						</div>
					</div>

					<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					<div class="cuerpoC">
					
					<div class="rowC  col-md-12">

						<div class="cvendedor col-md-3">
							<p class="nombreV" type="text" style="color:#000000">Jose Nieto</p>
							<p class="correo" type="email" style="color:#999999 ">altatendenciaoritu@gmail.com</p>
							<p class="telefono" style="color:#999999 ">0414 5686482</p>
						</div>
						<div class="carticulo col-md-5"> 
							<div class="media">
								  <a class="media-left media-middle" href="#">
								    <img class="media-object" src="/public/inm_azul/img/casa2.jpg">
								        
								  </a>
							  <div class="media-body">
							    <h4 class="media-heading">Media heading </h4>
							    <p class="caracteristicas" type="email" style="color:#999999 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

							  </div>
							</div>

						</div>
						<div class="cinformacion col-md-3">
							<label>Tipo</label><p class="Pj">casa</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Direcion</strong><p  class="Pj">esquina carrera 13 Barrio el liceo</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">Ciudad</strong> <p class="Pj">Guanarito</p> <br>
							<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
							<strong class="tipo">estado</strong> <p class="Pj">Portuguesa</p> <br>
						</div>
					</div>






	{% endblock %}
