{% extends 'usuario.twig' %}

	{% block body %}
	
			<div class="favoritos container col-md-9">
				<h3>Favoritos</h3>
					<div class="cabeza">
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
						 <button class="eliminar btn btn-primary btn-sm">
						 	Eliminar
						 </button>
						 <p>Favoritos de 1 - 3</p>
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					</div>
				<div class="cuerpo">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" > 
						  </label>
						</div>
					
					<div class="media">
					  	<a class="media-left" href="#">
					    <img class="" src="/public/inm_azul/img/casa2.jpg">
					   
					  </a>
					  <div class="media-body">
					   <a href="#"> <h4 class="media-heading">Casa en magnificas condiciones</h4></a>
					    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo 	<br>	
					    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    </p
					    >
					   
					  </div>
						<div class="option">					   

					  	<h3>500.000.00 BS</h3>
					   <div class="btn-group">
							<button type="button" class=" btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-   haspopup="true" aria-expanded="false">
						     <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="/resumen">eliminar</a></li>
							    
							  </ul>
						</div>   
					   <button class=" btn btn-primary btn-sm">
						 	<span class="">Ver publicacion</span>
					   </button>
					   


					   </div>  
					</div>

				</div>	
				
				 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->

				<div class="cuerpo">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" > 
						  </label>
						</div>
					
					<div class="media">
					  	<a class="media-left" href="#">
					    <img class="" src="/public/inm_azul/img/casa2.jpg">
					   
					  </a>
					  <div class="media-body">
					   <a href="#"> <h4 class="media-heading">Casa en magnificas condiciones</h4></a>
					    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo 	<br>	
					    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    </p
					    >
					   
					  </div>
						<div class="option">					   

					  	<h3>500.000.00 BS</h3>
					   <div class="btn-group">
							<button type="button" class=" btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-   haspopup="true" aria-expanded="false">
						     <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="/resumen">eliminar</a></li>
							    
							  </ul>
						</div>   
					   <button class=" btn btn-primary btn-sm">
						 	<span class="">Ver publicacion</span>
					   </button>
					   


					   </div>  
					</div>

				</div>	
				
				 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
				 <div class="cuerpo">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" > 
						  </label>
						</div>
					
					<div class="media">
					  	<a class="media-left" href="#">
					    <img class="" src="/public/inm_azul/img/casa2.jpg">
					   
					  </a>
					  <div class="media-body">
					   <a href="#"> <h4 class="media-heading">Casa en magnificas condiciones</h4></a>
					    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo 	<br>	
					    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    </p
					    >
					   
					  </div>
						<div class="option">					   

					  	<h3>500.000.00 BS</h3>
					   <div class="btn-group">
							<button type="button" class=" btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-   haspopup="true" aria-expanded="false">
						     <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="/resumen">eliminar</a></li>
							    
							  </ul>
						</div>   
					   <button class=" btn btn-primary btn-sm">
						 	<span class="">Ver publicacion</span>
					   </button>
					   


					   </div>  
					</div>

				</div>	
				
				 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
				 	
						 
			</div>




	{% endblock %}