{% extends 'layout.twig' %}

{% block body %}
	<div class="col-md-9 Top">
		<!-- /*/publicacion */ --> 
		<div class="col-md-12/publicacion">
		   <div class="col-sm-4 col-lg-4 col-md-4 ">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$24.999</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4 ">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">3.850Bsf</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4 ">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">€39.999</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">24.670Bsf</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">€74.500</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$55.680</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">€37.950</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">29.960Bsf</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		   <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="/public/inm_azul/img/Casa.jpg" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$24.970</h4>
                        <h4><a href="#" class="estiloAlternativo">Inmueble</a></h4>
                        <p class="sangria Handlee">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="ratings">
                        <button class="botonRojo btn btn-primary btn-lg" href="/publicacion">OFERTAR</button>
                        <p>
                        <p class="visitas">15 reviews</p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- /* FIN/publicacion */ --> 
</div>	<!-- /* FIN col 12 layout */ --> 

</div>	<!-- /* FIN row layout */ --> 

{% endblock %}