{% extends 'layout.twig' %}

{% block body %}
	<div class="col-md-9">
		<!-- /* PUBLICACION */ --> 
		<div class="col-md-12 publicacion">
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado EspaciadoSuperior ">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>  	  

			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado EspaciadoSuperior ">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado EspaciadoSuperior ">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				  </div>
				</div>
			</div>
			
		</div>
		<div class="col-md-12 publicacion">
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				  </div>
				</div>
			</div>
			
		</div>
		<div class="col-md-12 publicacion">
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
				    <div class="thumbnail EspaciadoInferior Espaciado">
				      <img src="/public/inm_azul/img/Casa.jpg" alt="...">
				      <div class="caption">
				        <h3 class="letra descripcion">Descripcion</h3>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				        <p><a href="/publicacion" class="botonRojo btn btn-default" role="button">Button</a></p>
				      </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- /* FIN PUBLICACION */ --> 
{% endblock %}