<!DOCTYPE html>
<html>
	<head>
		<title>Inmobiliaria azul</title>
		<meta charset="utf-8">
	    {% block css %}
	    	<link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    {% endblock %}
<style>
	    @import url(data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdDb21pbmcgU29vbic7CiAgZm9udC1zdHlsZTogbm9ybWFsOwogIGZvbnQtd2VpZ2h0OiA0MDA7CiAgc3JjOiBsb2NhbCgnQ29taW5nIFNvb24nKSwgbG9jYWwoJ0NvbWluZ1Nvb24nKSwgdXJsKGh0dHBzOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9jb21pbmdzb29uL3Y2L215Ymx5T3ljTW5QTUdqZlBHLUR6UDUwRUFWeHQwRzBiaUVudHA0M1F0NkUudHRmKSBmb3JtYXQoJ3RydWV0eXBlJyk7Cn0K);
	    body{
	    	width: 100%;
	    	height: auto;
	    	background: #EEEEEE;
	    }
	     .menu{
	     	width: 20%;
	     	height: 1500px;
	     	overflow: auto;
			float: left;
		    padding: 0;
    		margin: 0;
    		background: #2F77AC;
		}
	     .nosotros{
	     	font-size: 12px;
	     	color: black;
	     }
	     .espacioArriba{
	     	margin-top: 10%;
	     }
	     .publicacion{
	     	width: 80%;
	     	height: auto;
	     	overflow: auto;
	    }
	    .login{
	    	float: right;
	    	margin-top: 2%; /*Ajustar al final*/
			margin-right: 2%;
	    }
	    .DesPre{
		    text-align: justify;
		    position: absolute;	    
		}
		a{
			color: black;
			font-family: 'Coming Soon', cursive;
		}
		a:link{   
			 text-decoration:none;   
		}
		a:hover{
			background:#286090;
		}
		.LetraEspecial{
			font-size: 1.2em;
		}
		.LetraObscura{
			font-weight: bold;
		}
		ul li ul li{
			list-style: none;
		}
		.margenLI{
			margin-left: 3%;
			margin-right: 3%;
		}
		.centrado{
			margin-left: 35%;
		}
		.letra{
			font-family: 'Coming Soon', cursive;
		}
		.jumbotron{
			background: white;
			font-family: 'Coming Soon', cursive;
		}
		.sidebar-collapse{
			background: #2F77AC;
			height: auto;
			width: 100%;
		}
		.caption{
			text-align: justify;
		}
		#myCarousel{
 	    	margin-left: 20%;
 	    }
	    </style>
	<link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

	</head>
	<body>
<!-- /* ENCABEZADO */ --> 
<div class="jumbotron">
  <div class="centrado"> 
  	  <img src="img/CASSA.png">
	<!--  <br>
	  <h1>INMOBILIARIA AZUL </h1> -->
  </div>
  <div class="login">
	  <a class="btn btn-primary btn-lg" href="http://localhost:8080/#" role="button">SING IN</a>
	  <a class="btn btn-primary btn-lg" href="http://localhost:8080/#" role="button">SING UP</a>  	
  </div>

</div>

<!-- /* FIN ENCABEZADO */ --> 



<!-- /* ARTICLE */ --> 
<div class="menu col-md-4">
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
	            <li>
	                <a href="#"><i class='margenLI glyphicon glyphicon-home'></i> <span>Tipo De Inmueble</span><i class="margenLI"></i></a>
	                <ul class="treeview-menu">
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Casa</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Apartamento</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Town-House</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Anexo</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Otros</a></li>
	                </ul>
	            </li>
            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->
 	            <li>
	                <a href="#"><i class='margenLI glyphicon glyphicon-briefcase'></i> <span>Tipo De Negociación</span><i class="margenLI"></i></a>
	                <ul class="treeview-menu">
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Venta</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Alquiler</a></li>
	                </ul>
	            </li>
            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->
 	            <li>
	                <a href="#"><i class='margenLI glyphicon glyphicon-screenshot'></i> <span>Ubicación Del Inmueble</span><i class="margenLI"></i></a>
	                <ul class="treeview-menu">
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Pais</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Estado</a></li>
	                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Cuidad</a></li>
	                </ul>
	            </li>
            </ul>
            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->

            <footer class="nosotros espacioArriba">
            	<center> 
	            	<p class="LetraEspecial letra LetraObscura">Empresas CassaPlan C.A </p><br>
					<p class="LetraObscura">Comunicate con Nosotros</p>
	            	<p>0414-222.66.99</p>
	            	<br>
	            	<p class="LetraObscura">Horarios de Trabajo</p> 
	               	<p>De Lunes a Viernes 7:00Am A 6:00Pm</p>
	               	<br>
	               	<p class="LetraObscura">Siguenos en: </p>
	               	
	               	<img src="/public/inm_azul/img/f.png">
	               	<img src="/public/inm_azul/img/g2.png">
	               	<img src="/public/inm_azul/img/s.png">
	               	<img src="/public/inm_azul/img/t.png">
	               	<img src="/public/inm_azul/img/y.png">
	               	<br><br>
				 </center>	
			</footer>
        </div>
    </nav>  
</div>
<!-- /* FIN ARTICLE */ --> 

	{% block js %}
		<script src="/public/jquery/dist/jquery.min.js"></script>
		<script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
	{% endblock %}
</body>
</html>