<!DOCTYPE html>
<html>
	<head>
		<title>Inmobiliaria azul</title>
		<meta charset="utf-8">
	    {% block css %}
	    	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/public/inm_azul/css/estilo.css" rel="stylesheet">
	    	<link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

	    {% endblock %}

	</head>
	<body class="fondo">
<!-- /* ENCABEZADO */ --> 
<div class="jumbotron">
  <div class="centrado"> 
  	  <img src="/public/inm_azul/img/logo.png" width="50%" height="auto">
  	<!--  <p class="encabezado">Mercado Moderno de Bienes</p> -->
	<!--  <br>
	  <h1>INMOBILIARIA AZUL </h1> -->   
  </div>
  <div class="login">
	  <a class="botones btn btn-primary btn-lg" href="/register" role="button">SING IN</a>
	  <a class="botones btn btn-primary btn-lg" href="/register" role="button">SING UP</a>  	
  </div>

</div>

<!-- /* FIN ENCABEZADO */ --> 



<!-- /* ARTICLE */ --> 
<div class="row">
	<div class="col-md-12">

		<div class="menu col-md-3">
		    <nav class="navbar-default navbar-side" role="navigation">
		        <div class="sidebar-collapse">
		            <ul class="nav" id="main-menu">
			            <li>
			                <a href="#"><i class='margenLI glyphicon glyphicon-home'></i> <span>Tipo De Inmueble</span><i class="margenLI"></i></a>
			                <ul class="treeview-menu">
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Casa</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Apartamento</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Town-House</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Anexo</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Otros</a></li>
			                </ul>
			            </li>
		            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->
		 	            <li>
			                <a href="#"><i class='margenLI glyphicon glyphicon-briefcase'></i> <span>Tipo De Negociación</span><i class="margenLI"></i></a>
			                <ul class="treeview-menu">
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Venta</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Alquiler</a></li>
			                </ul>
			            </li>
		            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->
		 	            <li>
			                <a href="#"><i class='margenLI glyphicon glyphicon-screenshot'></i> <span>Ubicación Del Inmueble</span><i class="margenLI"></i></a>
			                <ul class="treeview-menu">
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Pais</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Estado</a></li>
			                    <li><a href="#" class="glyphicon glyphicon-menu-right"> Cuidad</a></li>
			                </ul>
			            </li>
		            </ul>
		            	<hr align="center" style="color: #424242;" noshade="noshade" size="1" width="100%" /><!--linea-->

		            <footer class="nosotros espacioArriba">
		            	<center> 
			            	<p class="LetraEspecial  letraBlanca letra LetraObscura">Empresas CassaPlan C.A </p><br>
							<p class="LetraObscura  letraBlanca">Comunicate con Nosotros</p>
			            	<p class="letraBlanca">0414-222.66.99</p>
			            	<br>
			            	<p class="LetraObscura letraBlanca">Horarios de Trabajo</p> 
			               	<p class="letraBlanca">De Lunes a Viernes 7:00Am A 6:00Pm</p>
			               	<br>
			               	<p class="LetraObscura letraBlanca">Siguenos en: </p>
			               	
			               	<img src="/public/inm_azul/img/Original (5).png">
			               	<img src="/public/inm_azul/img/Original (3).png">
			               	<img src="/public/inm_azul/img/Original (4).png">
			               	<img src="/public/inm_azul/img/Original (7).png">
			               	<br><br>
						 </center>	
					</footer>
		        </div>
		    </nav>  
		</div>


	{% block body %}{% endblock %}
<!-- /* FIN ARTICLE */ --> 

	{% block js %}
		<script src="/public/js/jquery/dist/jquery.min.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>

	{% endblock %}
</body>
</html>