
{% extends 'usuario.twig' %}

	{% block body %}
	
			<div class="pregunta container col-md-9">
				<h3>Favoritos</h3>
					<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
				 	<div class="alert alert-warning alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button> 
					  <strong class="fn glyphicon glyphicon-warning-sign">Finalizada</strong> 	<br>		

					<div class="prueba">


						<a href="#"><img src="/public/inm_azul/img/casa2.jpg"></a>
						
						
					</div>
					<div class="prueba">
						<h4><a href="">Lorem ipsum dolor sit amet</a></h4>

					</div>
					
					<div class="monto">
						<h4 >5.000.000 BsF.</h4>
						<h6 class="Finalizada">hace 32 dias</h6>
					</div>
              	 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
				 	
				 	<div clas="conversacion">
				 	
				 		<span><img class="ico" src="/public/inm_azul/img/chat1.png"> Hola hermano Buenas tardes aun tienes Disponible el Lugar </span><br>
				 			<span><img class="ico" src="/public/inm_azul/img/chat2.png">   Si Oferte Con Confianza</span>
				 		
				 	</div>
              		 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
              </div>
				
			  <div class="alert alert-success alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="" aria-hidden="true">&times;</span></button> 
					  <strong class="fn glyphicon glyphicon-ok ">activa</strong> 	<br>		

					<div class="prueba">


						<a href="#"><img src="/public/inm_azul/img/casa2.jpg"></a>
						
						
					</div>
					<div class="prueba">
						<h4><a href="">Lorem ipsum dolor sit amet</a></h4>

					</div>
					
					<div class="monto">
						<h4 >5.000.000 BsF.</h4>
						<h6 class="Finalizada">hace 32 dias</h6>
					</div>
              	 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
				 	
				 	<div clas="conversacion">
				 	
				 		<span><img class="ico" src="/public/inm_azul/img/chat1.png"> Hola hermano Buenas tardes aun tienes Disponible el Lugar </span><br>
				 			<span><img class="ico" src="/public/inm_azul/img/chat2.png">   Si Oferte Con Confianza</span>
				 		
				 	</div>
              		 <hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->
              </div>		

			</div>
			




	{% endblock %}