{% extends 'usuario.twig' %}

	{% block body %}
		 <div class="container col-md-6"> 
					<h2>Resumen De Usuario</h2>
					

					<div class="preguntas">
					 <h3><span class="glyphicon glyphicon-comment">  Preguntas</h3>
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					
						
						<div class="cuadro">
							<p>50</p>
						</div>
						   <span class="texto">Comentarios Respondido</span>
						
					 	<br>
					 	<br>
						
						<div class="cuadro">
							
							<p>120</p>
						
						</div>
						
						<span class="texto">Comentario resividos</span>
						<br>
						<br>	
						<div class="cuadro">
							<p>0</p>
						</div>
						<span class="texto">Comentario Sin revisar</span>

					</div>
				
				 <div class="preguntas">
					 <h3><span class="glyphicon glyphicon glyphicon-pencil">  Preguntas</h3>
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					
						
						<div class="cuadro">
							<p>50</p>
						</div>
						   <span class="texto">publicaciones</span>
						
					 	<br>
					 	<br>
						
						<div class="cuadro">
							
							<p>120</p>
						
						</div>
						
						<span class="texto">Publicaciones activas</span>
						<br>
						<br>	
						<div class="cuadro">
							<p>0</p>
						</div>
						<span class="texto">publicaciones finazadas</span>

					</div>	
						 <div class="preguntas">
					 <h3><span class="glyphicon glyphicon glyphicon glyphicon-shopping-cart">Operaciones</h3>
						<hr align="center" style="color:#000000 ;"  size="1" width="100%" /><!--linea-->	
					
						
						<div class="cuadro">
							<p>50</p>
						</div>
						   <span class="texto">Compras Realizadas</span>
						
					 	<br>
					 	<br>
						
						<div class="cuadro">
							
							<p>120</p>
						
						</div>
						
						<span class="texto">Publicaciones Compra no Concretadas</span>
					
					</div>	
			 </div>		
	{% endblock %}